@import url("common.css");

#root {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	padding: 1vmax;
}

#add {
	font-size: 1.8vmax;
	margin: 1vmax 0;
}
#options {
	display: flex;
	justify-content: flex-end;
	right: 0;
}