@import url("common.css");


#caption {
	align-items: center;
	display: flex;
}
#caption::before,
#caption::after {
	border-top: 1px dotted rgba(160,160,160,1);
	content: "";
	flex: 1 0 auto;
	height: 1px;
}

#logs {
	margin: .2rem 0 .28rem;
}

#ctrl {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	margin: 0 .5vmax;
	position: relative;
}
#run {
	font-size: 2.2vmax;
	font-weight: bold;
	margin: 1vmax 0 0;
}
#options {
	display: flex;
	justify-content: flex-end;
}
#length {
	text-align: right;
}
#codes {
	display: flex;
	flex-wrap: wrap;
	margin: .7rem .8rem .5rem;
}
#codes > :not(#add) {
	
	flex: 1 0 min-content;
	margin-bottom: .6rem;
	
}
#codes > :not(#add):not(last-child) {
	
	border-right: 1px solid rgba(200,200,200,1);
	padding-right: 2vmax;
	margin-right: 2vmax;
	
}
#codes > #add {
	
	align-self: center;
	font-size: 1.5rem;
	font-weight: bold;
	flex: 0 1 auto;
	
}