@import url("common.css");alog('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa');

html, body {
}

body {
	position: relative;
}

app-dock {
	display: block;
	position relative;
}

app-node {
	border: 3px solid rgba(216,216,216,1);
	border-radius: 1vmax;
	box-sizing: border-box;
	display: block;
	margin: 1vmax;
	padding: 1vmax;
}

app-container {
	display: flex;
	flex-direction: column-reverse;
	padding: 0 3vmax;
}

app-container > not(:last-child) {
	margin-top: 2vmax;
}
bench-node span[slot="caption"] {
	color: rgba(160,160,160,1);
	font-family: "Arial Black";
	font-size: 1.3rem;
	margin: 0 1vmax;
}

input-node {
	
	height: var(--height, auto);
	left: calc(var(--left, 0px) + var(--movement-x, 0px));
	position: absolute;
	top: calc(var(--top, 0px) + var(--movement-y, 0px));
	width: var(--width, auto);
	
}
input-node.moving {
	user-select: none;
}